@import "tailwindcss";
html{
    scroll-behavior: smooth;
}
.head{
    font-family: Inter, sans-serif ;
}



@keyframes spin {
 to {
 transform: rotate(360deg);
 }
}
@custom-variant dark (&:where(.dark, .dark *));
.image{
    background-image: url("/images/libary.jpg");
    background-size: cover;
    background-position: center;
}